// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --primary: #00A69C; 
  --primary-pale: #DAEEED;
  --secondary: #F05B8C;
  --secondary-pale: #FFE9F1;
  --tertiary: #FFCC00;
  --tertiary-pale: #FFFCD6;
  --white: #fff; 
  --black: #000;
  --green: #2BB673;
  --green-pale: #D1FAE0;
  --red: #DC2626;
  --red-pale: #FFE5DB;
  --gray: #929292;
  --gray-pale: #FAFAFA;
  --header: #00A69C;
  --select-student: #DAEEED;
  --tambah-pelajar: #FFFCD6;
  --kanak-kanak: #FFE9F1;
  --border: #D7D7D7;
  --bg-info-toast: #BAE2F5;
  --text-info-toast: #1F5460;
  --bg-warn-toast: #FCF2CD;
  --text-warn-toast: #524137;
  --bg-success-toast: #CCEBC3;
  --text-success-toast: #23583A;
  --bg-error-toast: #E6C3C5;
  --text-error-toast: #721E33;
  --text-primary: #3F4756;
  --app-version-name: 'Anak2U Parent';
}

